@media screen and (max-width: 1000px){
	#barra{
		display: none;
	}
	.contenedorEmpresa .nuestraEmpresa{
		width: 100%;
		margin: 10px;
		padding: 10px;
	}
	.contenedorEmpresa iframe{
		width: 100%;
		height: 600px;
	}
	.contenedor .contenedorVertical{
		width: 50%;
	}
	.contenedorFooter .contenedorContacto{
		width: 100%;
	}
	.contenedorFooter iframe{
		width: 100%;
		height: 600px;
	}
	.contenedorFooter .contenedorContacto .datoContacto{
		width: 100%;
	}
	.contenedorFooter .contenedorContacto .datoContacto img{
		width: 3Em;
		margin: auto 0;
	}
	.contenedorFooter .contenedorContacto .datoContacto p{
		font-size: 3Em;
		margin: auto 0;
	}

	.contenedorFooter .contenedorContacto .datoContacto a{
		font-size: 3Em;
		padding: 10px;
	}
	body .cardCeption{
		width: 100%;
		margin:0 ;
	}
	body .separadorCeption{
		width: 100%;
		margin:0 0;
	}
	body .seccionQuinchos .decQuinchos h1{
		font-size: 5em;
	}
	body .seccionQuinchos .decQuinchos p{
		font-size: 3em;
	}
}

/*Agrego una fuente de google*/
@font-face {
    font-family:Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
	margin: 0px;
}
p{
	text-align: center;
  	font-family:Roboto-Regular, sans-serif;
}
body{
	/*background-color: white;*/
	background: url("../img/TileableWater.jpg");
	/*background-repeat: repeat;*/
	/*background-size: cover;*/
	background-position: center;
	background-attachment: fixed;
}
h1,h2{
	text-align: center;
	margin: 0 auto 30px;
	width: 100%;
}
h2{
	font-family: Roboto-Regular;
	text-transform: uppercase;
}
body .contenedorEmpresa h2{
	margin: 30px auto;
}
.separador{
	box-sizing: border-box;
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	width: 92%;
	margin: 0 auto;
}

.separadorCeption{
	width: 78%;
	margin:0 auto;
	padding: 15px 5px;
	box-sizing: border-box;
	background-color: #EEEEEE;
	/*background: rgba(52,130,247,1);
	background: -moz-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,130,247,1)), color-stop(1%, rgba(238,238,238,1)), color-stop(99%, rgba(238,238,238,1)), color-stop(100%, rgba(52,130,247,1)));
	background: -webkit-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
	background: -o-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
	background: linear-gradient(to right, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3482f7', endColorstr='#3482f7', GradientType=1 );*/
}
/*barra*/
	#barra{
		/*background: rgba(247,52,52,1);
		background: -moz-linear-gradient(left, rgba(247,52,52,1) 0%, rgba(242,242,61,1) 13%, rgba(90,245,12,1) 32%, rgba(24,240,153,1) 51%, rgba(39,109,230,1) 70%, rgba(182,39,230,1) 87%, rgba(230,39,64,1) 99%, rgba(230,39,64,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,52,52,1)), color-stop(13%, rgba(242,242,61,1)), color-stop(32%, rgba(90,245,12,1)), color-stop(51%, rgba(24,240,153,1)), color-stop(70%, rgba(39,109,230,1)), color-stop(87%, rgba(182,39,230,1)), color-stop(99%, rgba(230,39,64,1)), color-stop(100%, rgba(230,39,64,1)));
		background: -webkit-linear-gradient(left, rgba(247,52,52,1) 0%, rgba(242,242,61,1) 13%, rgba(90,245,12,1) 32%, rgba(24,240,153,1) 51%, rgba(39,109,230,1) 70%, rgba(182,39,230,1) 87%, rgba(230,39,64,1) 99%, rgba(230,39,64,1) 100%);
		background: -o-linear-gradient(left, rgba(247,52,52,1) 0%, rgba(242,242,61,1) 13%, rgba(90,245,12,1) 32%, rgba(24,240,153,1) 51%, rgba(39,109,230,1) 70%, rgba(182,39,230,1) 87%, rgba(230,39,64,1) 99%, rgba(230,39,64,1) 100%);
		background: -ms-linear-gradient(left, rgba(247,52,52,1) 0%, rgba(242,242,61,1) 13%, rgba(90,245,12,1) 32%, rgba(24,240,153,1) 51%, rgba(39,109,230,1) 70%, rgba(182,39,230,1) 87%, rgba(230,39,64,1) 99%, rgba(230,39,64,1) 100%);
		background: linear-gradient(to right, rgba(247,52,52,0.6) 0%, rgba(242,242,61,0.6) 13%, rgba(90,245,12,0.6) 32%, rgba(24,240,153,0.6) 51%, rgba(39,109,230,0.6) 70%, rgba(182,39,230,0.6) 87%, rgba(230,39,64,0.6) 99%, rgba(230,39,64,0.6) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73434', endColorstr='#e62740', GradientType=1 );*/
		background: rgba(81,140,35,0);
		background: -moz-linear-gradient(left, rgba(81,140,35,0) 4%, rgba(81,140,35,0.5) 9%, rgba(70,143,121,1) 14%, rgba(61,146,189,1) 18%, rgba(19,95,194,1) 48%, rgba(61,146,189,1) 76%, rgba(68,144,133,1) 80%, rgba(81,140,35,0.46) 87%, rgba(81,140,35,0) 93%);
		background: -webkit-gradient(left top, right top, color-stop(4%, rgba(81,140,35,0)), color-stop(9%, rgba(81,140,35,0.5)), color-stop(14%, rgba(70,143,121,1)), color-stop(18%, rgba(61,146,189,1)), color-stop(48%, rgba(19,95,194,1)), color-stop(76%, rgba(61,146,189,1)), color-stop(80%, rgba(68,144,133,1)), color-stop(87%, rgba(81,140,35,0.46)), color-stop(93%, rgba(81,140,35,0)));
		background: -webkit-linear-gradient(left, rgba(81,140,35,0) 4%, rgba(81,140,35,0.5) 9%, rgba(70,143,121,1) 14%, rgba(61,146,189,1) 18%, rgba(19,95,194,1) 48%, rgba(61,146,189,1) 76%, rgba(68,144,133,1) 80%, rgba(81,140,35,0.46) 87%, rgba(81,140,35,0) 93%);
		background: -o-linear-gradient(left, rgba(81,140,35,0) 4%, rgba(81,140,35,0.5) 9%, rgba(70,143,121,1) 14%, rgba(61,146,189,1) 18%, rgba(19,95,194,1) 48%, rgba(61,146,189,1) 76%, rgba(68,144,133,1) 80%, rgba(81,140,35,0.46) 87%, rgba(81,140,35,0) 93%);
		background: -ms-linear-gradient(left, rgba(81,140,35,0) 4%, rgba(81,140,35,0.5) 9%, rgba(70,143,121,1) 14%, rgba(61,146,189,1) 18%, rgba(19,95,194,1) 48%, rgba(61,146,189,1) 76%, rgba(68,144,133,1) 80%, rgba(81,140,35,0.46) 87%, rgba(81,140,35,0) 93%);
		background: linear-gradient(to right, rgba(81,140,35,0) 4%, rgba(81,140,35,0.5) 9%, rgba(70,143,121,1) 14%, rgba(61,146,189,1) 18%, rgba(19,95,194,1) 48%, rgba(61,146,189,1) 76%, rgba(68,144,133,1) 80%, rgba(81,140,35,0.46) 87%, rgba(81,140,35,0) 93%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#518c23', endColorstr='#518c23', GradientType=1 );

		height: auto;
		width: 100%;
		overflow: hidden;
		text-align: left;
		position: fixed;
		bottom: 0;
		z-index: 2;
	}
	nav ul li a {
		font-family:    Roboto-Regular,verdana;
	}
	ul{
		padding-left: 0;
		margin: 0px;
		float: left;
		list-style-type: none;
		display: inline;
		position: relative;
		left: 50%;
	}
	li{
		float: left;
		font-size: 180%;
		position: relative;
		right: 50%;

	}
	a{
		padding: 0 10px;
		text-decoration: none;
		color: white;
		text-shadow: 2px 2px 1px black;
	}

	.cardCeption{
		width: 78%;
		margin:0 auto;
		padding: 0 5px;
		box-sizing: border-box;
		background-color: #EEEEEE;
		/*background: rgba(52,130,247,1);
background: -moz-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,130,247,1)), color-stop(1%, rgba(238,238,238,1)), color-stop(99%, rgba(238,238,238,1)), color-stop(100%, rgba(52,130,247,1)));
background: -webkit-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
background: -o-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
background: -ms-linear-gradient(left, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
background: linear-gradient(to right, rgba(52,130,247,1) 0%, rgba(238,238,238,1) 1%, rgba(238,238,238,1) 99%, rgba(52,130,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3482f7', endColorstr='#3482f7', GradientType=1 );*/
}

/*portada*/
	.portada{
		background-image: url("../img/portada.jpg");
		background-position: center|bottom;
		background-repeat: no-repeat;
		width: 100%;
		height: 650px;
		position: relative;
		background-size: cover;
		border-bottom: 4px solid #CCC;
	}
	.portada img{
		position: absolute;
		left: 13%;
		top: 25px;
		width: 350px;
	}

/*empresa*/
	.contenedorEmpresa{
		/*width: 100%;*/
		display: flex;
		box-sizing: border-box;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.nuestraEmpresa{
		margin:auto 10px;
		width: 45%;
		display: inline-block;
		text-align: justify;
		padding: 20px 15px 20px 10px;
	}


/*Accesorios*/
	.contenedorAccesorios{
		width: 98%;
		box-sizing: border-box;
		margin: auto;
		position: relative;
	}
	.accesorio{
		width: 100%;
		height: auto;
		background-position: center;
		display: none;
		display: flex;
		flex-direction: column;
		/*justify-content: space-between;*/
		flex-wrap: wrap;
	}
	.itemAccDec{
		margin: 0 10px 20px;
		min-width: 300px;
		/*border: 1px solid black;*/

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.itemAccDec p{
		margin-top: 15px;
	}
	.itemAccImg{
		/*border: 1px solid black;*/
		/*margin-bottom: 30px;*/
		padding: 0 10px 10px;

		display: flex;
		flex-direction: row;
		justify-content: space-around;

		flex-wrap: nowrap;
	}
	.itemAccImg img{
		width: 33%;
		height: 33%;
		border-radius: 30px;
	}
	.controlSlider2{
		text-align: center!important;
		padding:0.01em;
		margin-top:16px!important;
	  	margin-bottom:16px!important;
		font-size:18px!important;
		color:#fff!important;
		position:absolute;
		left:50%;
		bottom:0;
		transform:translate(-50%,0%);
		-ms-transform:translate(-50%,0%);
		width: 100%;
	}
	.sliderFlechaIzquierda2,.sliderFlechaDerecha2,.sliderBoton2{
		cursor: pointer;
	}
	.sliderFlechaIzquierda2{
		float: left!important;
		font-size: 1.5em;
		margin-left: 20px;
		text-shadow: 2px 2px 0px black;
	}
	.sliderFlechaDerecha2{
		float: right!important;
		margin-right: 20px;
		font-size: 1.5em;
		text-shadow: 2px 2px 0px black;
	}
	.sliderBoton2{
		background-color:#000;
		color:#fff;
		display:inline-block;
		padding-left:8px;
		padding-right:8px;
		text-align:center;
		border-radius:50%;
		box-shadow: 2px 2px 0px black;
		height:1.5em;
		width:1.5em;
		padding:0;
		border:1px solid #ccc!important;
		background-color:transparent!important;
	}
	.white{
		color:#000!important;
		background-color:#fff!important;
	}

/*Quinchos*/
	.seccionQuinchos{
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.decQuinchos{
		margin:  35px 0 15px 0 ;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.decQuinchos h1{
		font-family:    Roboto-Regular,sans-serif;
	}
	.seccionQuinchos > img{
		box-sizing: border-box;
		width: 50%;
		height: 50%;
		padding: 20px;
		border-radius: 50px;
	}

/*Galeria*/
	.contenedorSlider{
		width: 98%;
		max-width: 1050px;
		margin: auto;
		/*margin-top: 10px;*/
		/*margin-bottom: 10px;*/
		box-sizing: border-box;
		position: relative;
	}
	.slide{
		width: 100%;
		display: none;
		border-radius: 5px;
	}
	.controlSlider{
		text-align: center!important;
		padding:0.01em 16px;
		margin-top:16px!important;
	  margin-bottom:16px!important;
		font-size:18px!important;
		color:#fff!important;
		position:absolute;
		left:50%;
		bottom:0;
		transform:translate(-50%,0%);
		-ms-transform:translate(-50%,0%);
		width: 100%;
	}
	.sliderFlechaIzquierda,.sliderFlechaDerecha,.sliderBoton{
		cursor: pointer;
	}
	.sliderFlechaIzquierda{
		float: left!important;
		font-size: 1.5em;
		margin-left: 20px;
		text-shadow: 2px 2px 0px black;
	}
	.sliderFlechaDerecha{
		float: right!important;
		margin-right: 20px;
		font-size: 1.5em;
		text-shadow: 2px 2px 0px black;
	}
	.sliderBoton{
		background-color:#000;
	    color:#fff;
	  	display:inline-block;
	 	padding-left:8px;
	  	padding-right:8px;
	  	text-align:center;
		border-radius:50%;
		box-shadow: 2px 2px 0px black;
		height:1.5em;
		width:1.5em;
		padding:0;
		border:1px solid #ccc!important;
		background-color:transparent!important;
	}
	.w3-white{
		color:#000!important;
	  background-color:#fff!important;
	}

/*CLASES DEL FOOTER*/
	.contenedorFooter{
		margin: 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10px;
		padding-bottom: 40px;
		justify-content: space-between;
	}
	.contenedorContacto{
		width: 50%;
		margin: 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10px;
		justify-content: center;
		align-items: stretch;
	}

	.verticalItem{
		flex: 1 1 auto;
		margin: 5px 0;
	}
	.item-flex{
		width: 75%;
		max-width: 150%;
		height: auto;
		display: flex;
		flex: 0 1 auto;
		margin: 5px;
	}
	.contenedor{
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 10px;
		justify-content: space-around;
		align-items: stretch;
	}
	.contenedorVertical{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		flex-wrap: nowrap;
		/*padding: 10px;*/
	}
	.card{
		padding:10px;
		border:4px double #ccc;
		border-radius:5px
	}
	.card:hover{
		border:4px double #939393;
	}
	footer{
		background-color: #273746;
		box-sizing: border-box;
	}
	footer .contenedorContacto{
		box-sizing: border-box;
		width: 65%;
	}
	.datoContacto{
		display: flex;
		text-align: center;
		margin: 0;
		align-items: center;
		justify-content:center;
	}
	footer .contenedorContacto .datoContacto p{
		color: #EEEEEE;
		font-size: 1em;
		padding: 10px;
		display: inline-block;
		margin: auto;
		text-shadow: 2px 2px 1px black;
	}
	footer .contenedorContacto .datoContacto a{
		color: #EEEEEE;
		font-size: 1em;
		text-align: center;
		display: inline-block;
		font-family:    Roboto-Regular,sans-serif;
	}
	footer iframe{
		width: 35%;
		box-sizing: border-box;

	}
