.itemPileta{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.itemPileta .PPis{
	height: 150px;
	line-height: 150px;
	margin: 0 10px;

}
.contenedorPiscinas{
	width: 100%;
	border: 1px solid black;
	background-image: url("../img/galeriaFinales/pile09.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.columnRoma{
	margin: 10px;

	background-color: rgba(255, 255, 255, 0.66);
	border:2px solid rgb(102,202,255);
	border-radius: 10px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;


}
.columnOtro{
	margin: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.columnAux{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.ovalada{
	border:2px solid rgb(102,202,255);
	border-radius: 10px;
	margin-top: 10px;

	background-color: rgba(255, 255, 255, 0.66);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.riñon{
	border:2px solid rgb(102,202,255);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.66);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.rectangular{
	border:2px solid rgb(102,202,255);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.66);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.hidromasaje{
	border:2px solid rgb(102,202,255);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.66);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.minimalista{
}
